# ==========================================
# ⚡ StdDownloader Environment Configuration
# ==========================================

# Port (Heroku sets this automatically)
PORT=8000

# YouTube Meow / Yuki API
MEOW_API_URL=https://music.yukiapi.site
MEOW_API_KEY=yuki_feabaea9d68d372ee341424466c8d0ef

# Telegram API & Userbot Credentials (For @DPQbot Helper Query & Dump Archival)
API_ID=
API_HASH=
BOT_TOKEN=
STRING_SESSION=

# Dump Channel ID (For 0.1s Instant Cache)
DUMP_CHANNEL=-1004458588038

# Helper Bots Pool (Comma separated bot usernames)
HELPER_BOTS=DPQbot

# Optional MongoDB URI (Uses local SQLite automatically if omitted)
MONGO_URI=
DB_NAME=stddownloader
